2023.2/zybo-z7-20/hw_proj1/vitis_classic/.metadata
2023.2/zybo-z7-20/hw_proj1/vitis_classic/.analytics
2023.2/zybo-z7-20/hw_proj1/vitis_classic/zybo_z7_20_pfm1/.log
2023.2/zybo-z7-20/hw_proj1/vitis_classic/IDE.log